<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <title>Vue-3 With Option API</title>
  <style>
    body{
      background-color: #c7eaea;
    }


  </style>

</head>
<body>

<div id="myApp" class="container">
  <!--    <h4>{{header}}</h4>-->
  <!--    <input type="text" v-model="header">-->
  <div class="card mt-5">
    <div class="card-header card-title">
      Test
    </div>
    <div class="card-body">
      <h5 class="card-title">{{header || 'Welcome'}}</h5>
      <!-- Input Section with v-model test -->
      <section class="border p-2 mb-3">
        <input @keyup.enter="storeList" v-model="myInput" placeholder="Write Here" type="text" class="form-control mb-1">
        <button v-on:click="storeList"  class="btn btn-sm btn-block btn-success">Store</button>
        <p class="text-center mt-2">{{myInput}}</p>
        <ul>
          <li v-for="(list,key) in myList">{{key+1}}-{{list.name}}</li>
        </ul>
        <p v-if="myList.length >4 ">Item list is now bigger than 5 & total item {{myList.length}} </p>

      </section>

      <!-- Toggle Button -->
      <section class="border p-2 mb-3">
       <button @click="toggleBtn(false)" v-if="showBtn" class="btn btn-sm btn-block btn-secondary">Show</button>
       <button @click="toggleBtn(true)"  v-else class="btn btn-sm btn-block btn-danger">Hide</button>
      </section>

      <!-- Choose Priority -->
      <section class="border p-2 mb-3">
        <select v-model="ChoosePriority"  class="form-control">
          <option value="low">Low</option>
          <option value="high">High</option>
        </select>
        <p class="text-center mt-2">{{ChoosePriority}}</p>
      </section>

      <!-- Check Priority   -->
      <section class="border p-2 mb-3">
        <label  class="mr-1">Check Priority:</label>
        <input v-model="CheckPriority" type="checkbox" class="from-control">
        <p class="text-center mt-2">{{CheckPriority}}</p>
      </section>


    </div>
  </div>
</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<script src="https://unpkg.com/vue@3"></script>

<script>
  const myApp = Vue.createApp({
    data(){
      return {
        header: 'Test My App',
        myInput:'',
        ChoosePriority: 'high',
        CheckPriority: false,
        myList:[
          {
            id:1,
            name: 'This is bag',
          },
          {
            id:2,
            name: 'This is book',
          },
          {
            id:3,
            name: 'This is pen',
          },
          {
            id:4,
            name: 'This is paper',
          }
        ],
        showBtn:true,

      }
    },
    methods: {
      storeList(){
        this.myList.push({id:this.myList.length+1,name:this.myInput});
        this.myInput = ' ';
      },
      toggleBtn(value){
        this.showBtn = value;
      }
    }
  })
  .mount('#myApp')
</script>

</body>
</html>